body {
  background-color: white;
}

.App-header {
  width: 100%;
  display: grid;
}

.main-background {
  width: 100%;
  max-width: 1268px;
  min-width: 1024px;
  justify-self: center;
}

.main-background > img {
  width: 100%;
}